* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
}
.heading {
  padding: 20px;
}
main {
  width: 840px;
  margin: 50px auto;
}

.サービス1 {
  margin-bottom: 30px;
  border-bottom: 1px solid#d1d1d1;
  padding-bottom: 30px;
}

.サービス2 {
  margin-bottom: 30px;
  border-bottom: 1px solid#d1d1d1;
  padding-bottom: 30px;
}
.サービス3 {
  margin-bottom: 30px;
  border-bottom: 1px solid#d1d1d1;
  padding-bottom: 30px;
}

.サービス4 {
  margin-bottom: 30px;
  border-bottom: 1px solid#d1d1d1;
  padding-bottom: 30px;
}
